KURUMIBOT/config.py
KURUMIBOT/*.session
KURUMIBOT/*.session-journal
KURUMIBOT/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
KURUMIBOT/modules/helper_funcs/temp.txt
KURUMIBOT/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
KURUMIBOT.session-journal
updates.txt
*.exe
